# Environment
.env

# Docker
docker-data/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Node
frontend/node_modules/

# Angular
frontend/dist/

# Maven
backend/target/

# Java
*.class